<header class="container header">
  <div class="header__right">
    <nav class="nav">
      <a class="nav__link" routerLink="/">Products</a>
      <a class="nav__link" routerLink="/">Services</a>
      <a class="nav__link" routerLink="/">Contact</a>
      <a class="nav__link" routerLink="/">Profile</a>
    </nav>
    <button class="btn btn__primary">logout</button>
  </div>
  <div class="header__left">
    <div>
      <span class="logo__text">team<span class="logo__dot">&period;</span></span
      >
    </div>
  </div>
</header>
